* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    background-color: #00242b;
    width: auto;
    height: auto;
    align-items: center;
}

.voltarAoTopo {
    position: fixed;
    z-index: 1000;
    right: 10px;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.2rem;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 5%;
    bottom: 15rem;
}

.descer {
    position: fixed;
    z-index: 1000;
    right: 10px;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.2rem;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 5%;
    bottom: 12rem;
}

.listaUl {
    display: flex;
    gap: 14rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.data {
    display: flex;
    flex-direction: column;
    align-self: auto;
}

.data h3 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.data p {
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.btnCabecalho {
    text-decoration: none;
    color: chartreuse;
    background-color: #014350;
    padding: 3px;
    border-radius: 6px;
}

.inicio img {
    filter: blur(3px);
}

.inicio h1 {
    position: absolute;
    top: 22%;
    font-size: 3rem;
    left: 32rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.gridEquipe {
    display: grid;
    width: 97rem;
    height: 32rem;
    position: absolute;
    top: 16rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.gridEquipe img {
    border-radius: 2rem;
}

.gridEquipe h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.idadeLuis{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 35rem; 
    font-size: 1.5rem;
    bottom: 20rem;
}

.cargoLuis{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 33rem; 
    font-size: 2rem;
    bottom: 22rem;
}

.idadeMatheus{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 34rem; 
    font-size: 1.5rem;
    top: 33rem;
}

.cargoMatheus{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 32rem; 
    font-size: 2rem;
    top: 30rem;
}

.idadeLucas{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 35rem; 
    font-size: 1.5rem;
    top: 10rem;
}

.cargoLucas{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 32rem; 
    font-size: 2rem;
    top: 7.5rem;
}

.idadeCaua{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 35rem; 
    font-size: 1.5rem;
    top: 33rem;
}

.cargoCaua{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 32rem; 
    font-size: 2rem;
    top: 30rem;
}

.timelineDiv {
    background-color: #00242b;
    height: 50rem;
}

.timelineDiv h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    top: 65rem;
    position: absolute;
    left: 32rem;
    background: linear-gradient(135deg, #8e44ad, #2980b9, #e74c3c, #f39c12);
    border-radius: 0.6rem;
    padding: 1rem;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    top: 15rem;
}

.event {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}

.timeline p {
    font-size: 1.2rem;
    color: #666;
}

.inscricao {
    display: flex;
    background-color: #00242b;
    height: 50rem;
    justify-content: center;
    align-items: end;
}

.inscricao h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
    left: 40rem;
    background: linear-gradient(135deg, #8e44ad, #2980b9, #e74c3c, #f39c12);    
    border-radius: 0.6rem;
    padding: 1rem;
    top: 120rem;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formBox {
    display: flex;
    background-color: white;
    justify-items: center;
    width: 100vh;
    height: 70vh;
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campo input {
    padding: 0.5rem;
    width: 100%;

    box-sizing: border-box;
    font-size: 16px;
}

.campo h2{
    display: flex;
    font-size:  1.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: wheat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    border-radius: 5%;
    color: black;
    margin: 1rem;
}

.formBox button {
    position: absolute;
    left: 65rem;
    color: black;
    padding: 1rem;
    top: 155rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: wheat;
    border-radius: 5rem;
}

.nossoLocal {
    background-color: #00242b;
    height: 50rem;
    display: flex;
    justify-content: start;
    padding: 2rem;
    align-items: center;
}

.nossoLocal img {
    border-radius: 5%;
    width: 500px;
    height: 500px;
}

.textoLocal {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 10rem;
    font-size: 1.3rem;
    padding: 5rem;
    background-color: white;
    border-radius: 10%;
}

.rodape {
    display: flex;
    background-color: #054d5c;
    width: 100%;
    justify-content: start;
    height: 4rem;
}

.rodape h3 {
    color: white;
    font-size: 1.5rem;
    display: flex;
    margin: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.rodape a {
    color: black;
    font-size: 1.2rem;
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}