* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    background-color: #00242b;
    width: auto;
    height: auto;
    align-items: center;
}

.voltarAoTopo {
    position: fixed;
    z-index: 1000;
    right: 10px;
    bottom: 15rem;
}

.voltarAoTopo a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    color: teal;
}

.listaUl {
    display: flex;
    gap: 14rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
}

.data {
    display: flex;
    flex-direction: column;
    align-self: auto;
}

.data h3 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.data p {
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.btnCabecalho {
    text-decoration: none;
    color: chartreuse;
    background-color: #014350;
    padding: 3px;
    border-radius: 6px;
}

.inicio img {
    filter: blur(3px);
}

.inicio h1 {
    position: absolute;
    top: 22%;
    font-size: 3rem;
    left: 32rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gridEquipe {
    display: grid;
    width: 97rem;
    height: 32rem;
    position: absolute;
    top: 16rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.gridEquipe img {
    border-radius: 2rem;
}

.gridEquipe h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.idadeLuis{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 35rem; 
    font-size: 1.5rem;
    bottom: 20rem;
}

.cargoLuis{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 33rem; 
    font-size: 2rem;
    bottom: 22rem;
}

.idadeMatheus{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 34rem; 
    font-size: 1.5rem;
    top: 33rem;
}

.cargoMatheus{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    left: 32rem; 
    font-size: 2rem;
    top: 30rem;
}

.idadeLucas{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 35rem; 
    font-size: 1.5rem;
    top: 10rem;
}

.cargoLucas{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 32rem; 
    font-size: 2rem;
    top: 7.5rem;
}

.idadeCaua{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 35rem; 
    font-size: 1.5rem;
    top: 33rem;
}

.cargoCaua{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    right: 32rem; 
    font-size: 2rem;
    top: 30rem;
}